.sort-list {
  list-style: none;
  border-top: 1px solid #ecf0f1;
  padding: 0;
  min-height: 59px;
}
.sort-list .item {
  width: 100%;
  position: relative;
  padding-top: 8px;
  border-top: 1px solid #ecf0f1;
  background: white;
}
.sort-list .item .list-menu {
  position: absolute;
  left: 8px;
  top: 0;
  bottom: 0;
  border-right: 1px solid #ecf0f1;
  width: 48px;
  padding-top: 8px;
}
.sort-list .item .label {
  font-size: 100%;
  float: right;
}
.sort-list .item.planning-possibleFeatures {
  background-color: #69d3bf;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}
.sort-list .item.planning-possibleFeatures .text-muted {
  color: #2c3e50;
}
.sort-list .sortable-ghost {
  background-color: rgba(0, 0, 0, 0.55);
  box-shadow: 1px 1px 1px #000000, inset 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.sort-list .sortable-ghost div {
  opacity: 0;
}
.sort-list.sprint-list {
  border-top: none;
}
.sort-list.sprint-list[data-state="NotStarted"] .item {
  background: #ef8b80;
}
.sort-list.sprint-list[data-state="NotStarted"] .item:after {
  border-color: #ef8b80;
}
.sort-list.sprint-list[data-state="NotStarted"] .item:before {
  border-color: #e74c3c transparent;
}
.sort-list.sprint-list[data-state="NotStarted"] .btn {
  color: #ffffff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.sort-list.sprint-list[data-state="InProgress"] .item {
  background: #f7bf65;
}
.sort-list.sprint-list[data-state="InProgress"] .item:after {
  border-color: #f7bf65;
}
.sort-list.sprint-list[data-state="InProgress"] .item:before {
  border-color: #f39c12 transparent;
}
.sort-list.sprint-list[data-state="InProgress"] .btn {
  color: #ffffff;
  background-color: #f39c12;
  border-color: #f39c12;
}
.sort-list.sprint-list[data-state="Done"] .item {
  background: #69d3bf;
}
.sort-list.sprint-list[data-state="Done"] .item:after {
  border-color: #69d3bf;
}
.sort-list.sprint-list[data-state="Done"] .item:before {
  border-color: #18bc9c transparent;
}
.sort-list.sprint-list[data-state="Done"] .btn {
  color: #ffffff;
  background-color: #18bc9c;
  border-color: #18bc9c;
}
.sort-list.sprint-list .item {
  padding: 5px;
  position: relative;
  min-height: 30px;
  margin-bottom: 2em;
}
.sort-list.sprint-list .item:after {
  content: "";
  position: absolute;
  bottom: -2em;
  left: 0;
  right: 2em;
  border: 1em solid;
}
.sort-list.sprint-list .item:before {
  content: "";
  position: absolute;
  bottom: -2em;
  right: 0;
  border-width: 2em 2em 0 0;
  border-style: solid;
}
.sort-list.sprint-list .sortable-ghost {
  padding-bottom: 2em;
}
/*# sourceMappingURL=Scrum.css.map */